@use "../base/index.scss" as *;

.case__container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

.case__img {
  width: 250px;
  position: absolute;
  left: -7rem;
}

.case__data {
  padding: 5rem 0 3rem;

  .case__description {
    margin-bottom: $mb-1-5;
    line-height: $text-line-height;
  }
}
