@use "../base/index.scss" as *;

.button {
  display: inline-block;
  background-color: $black-color;
  color: $white-color;
  padding: 1rem 1.25rem;
  border-radius: 1vw;
  transition: 0.3s;

  &:hover {
    background-color: $black-color-alt;
  }

  &__icon {
    font-size: 1.2rem;
  }

  &--flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.75rem;
  }
}
